<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tell Me About Your Cat</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <form action="{{ url_for('my_cat') }}" method="post">
            <label for="cat_name">Cat's name:</label><br>
            <input type="text" id="cat_name" name="cat_name"><br>
            <label for="fav_food">Cat's favorite food:</label><br>
            <input type="text" id="fav_food" name="fav_food">
            <label for="fav_hobby">Cat's favorite hobby:</label><br>
            <input type="text" id="fav_hobby" name="fav_hobby"><br>
            <label for="fun_fact">Fun fact about the cat:</label><br>
            <input type="text" id="fun_fact" name="fun_fact">
            <button type="submit">Submit</button>
        </form>
        <a href="/">Go Home</a>
    </div>    
</body>
</html>